<!DOCTYPE html>
<htmllang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="admin/adminBase::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid">
			<a th:href="@{/admin/products/add}" style="margin: 20px 0"
				class="btn btn-primary">Add Product</a>
			<table class="table table-striped table-bordered">
				<thead class="table-dark">
					<tr>
						<th scope="col">SN</th>
						<th scope="col">Product Name</th>
						<th scope="col">Category</th>
						<th scope="col">Preview</th>
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product, iStat : ${products}">
						<th scope="row" th:text="${iStat.index + 1}">1</th>
						<td th:text="${product.name}">Larry</td>
						<td th:text="${product.category.name}">Larry</td>
						<td><img src="" height="100px" width="100px"
							th:src="@{${'/productImages/' + product.imageName}}"></td>

						<td><a href=""
							th:href="@{/admin/product/delete/{id}(id=${product.id})}"
							class="btn btn-danger">Delete</a></td>
						<td><a href=""
							th:href="@{/admin/product/update/{id}(id=${product.id})}"
							class="btn btn-warning">Update</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>